.boardContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  margin-top: 25px;
  width: 500px;
  height: 500px;
}

.row {
  display: flex;
  flex-direction: initial;
}

.col {
  width: 50px;
  height: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border-width: 50px;
  border-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.light {
  background: radial-gradient(yellow, white);
}

.dark {
  background-color: #171717;
}

button {
  margin-top: 50px;
  background-color: #171717;
  box-shadow: 0 0px 20px 0 rgba(255, 255, 255);
  color: white;
  border: 0px;
  width: 60px;
  height: 25px;
  cursor: pointer;
}

span {
  color: white;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

@media only screen and (max-width: 600px) {
  .boardContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .board {
    margin-top: 25px;
    width: 300px;
    height: 300px;
  }

  .col {
    width: 30px;
    height: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border-width: 50px;
    border-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 10px;
  }

  .light {
    background: radial-gradient(yellow, white);
  }

  .dark {
    background-color: #171717;
  }
}
